*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.main-container{
    display: grid;

}



.result-container{
    background-color: #d7d4d4;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
    text-align: center;
    padding: 8%;
    border-radius: 0 0 45px 45px;
}

@media (min-width: 753px){
    body{
        align-items: center;
    }
    .main-container{
        width: 750px;
        height: 430px;
        grid: 1fr / repeat(2, 1fr);
    }
    .result-container{
        border-radius: 25px;
    }
}
.result-figure{
    background-color: grey;
    width: 130px;
    height: 130px;
    align-self: center;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.summary-container{
    display: grid;
    grid: repeat(6,1fr) / repeat(8,1fr);
}
.summary-container>p{
    grid-area: 1 /2 / 2/ 8;

    display: flex;
    align-items: center;
}
.reaction{
    background: rgb(152, 88, 66);
    grid-area: 2/2/3/8;

}
.reaction>img , .memory>img, .verbal>img, .visual>img{
    grid-area: 1/1/2/2;
    align-self: center;
    justify-self: center;
}
.reaction>img+p ,.memory>img+p ,.verbal>img+p ,.visual>img+p{
    grid-area: 1/2/2/3;
    align-self: center;
}
.reaction>img+p+p, .memory>img+p+p ,.verbal>img+p+p ,.visual>img+p+p{
    grid-area: 1/3/2/4;
    align-self: center;
}
.memory{
    grid-area: 3/2/4/8;
}
.verbal{
    grid-area: 4/2/5/8;
}
.visual{
    grid-area: 5/2/6/8;
}
.button{
    grid-area: 6/2/7/8;
    align-self: flex-start;
    padding: 3px;
}

.reaction,.memory,.verbal,.visual{
    display: grid;
    grid: 1fr / 1fr 3fr 2fr;
    border-radius: 10px;
}